{%  extends 'layout.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>About the Project</h1>
            <hr>
            <p>
                Python project analyzing Monroe County Home sales over the last 3 year period. CSV files of home sale data
                pulled from <a href="https://www.monroecounty.gov/etc/rp/search2.php">Monroe County Real Property Portal</a>.
                Utilizes the Pandas, Matplotlib, and Numpy libraries to analyze and clean the data.
            </p>
            <p>
                The project utilizes a machine learning library (scikit-learn) to create a model to predict
                home sale price based on the details and specifications of the home with 82% accuracy.  The model has been
                implemented into a web interface using the Flask micro-framework so a user can receive a prediction for the
                sale price of their home based on their personal inputs.
            </p>
            <p>
                Project completed by Christopher Zimmerman - Computer Information Systems student at Buffalo State College.
            </p>
        </div>
    </div>
</div>

{% endblock %}