{%  extends 'layout.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Sources and Resources</h1>
            <hr>
            <ul>
                <li><a href="https://www.monroecounty.gov/etc/rp/search2.php">Monroe County Real Property Portal</a></li>
                <li><a href="https://www.dataquest.io/blog/sci-kit-learn-tutorial/">Scikit-learn Tutorial: Machine Learning in Python</a></li>
                <li><a href="https://medium.com/quick-code/regression-versus-classification-machine-learning-whats-the-difference-345c56dd15f7">
                    Regression Versus Classification Machine Learning: What’s the Difference?</a></li>
                <li><a href="https://towardsdatascience.com/designing-a-machine-learning-model-and-deploying-it-using-flask-on-heroku-9558ce6bde7b">
                    Designing a Machine Learning model and deploying it using Flask on Heroku</a></li>
                <li><a href="https://towardsdatascience.com/machine-learning-project-predicting-boston-house-prices-with-regression-b4e47493633d">
                    Machine Learning Project: Predicting Boston House Prices With Regression</a></li>
                <li><a href="https://towardsdatascience.com/create-a-model-to-predict-house-prices-using-python-d34fe8fad88f">
                    Create a model to predict house prices using Python</a></li>
                <li><a href="https://medium.com/all-things-ai/in-depth-parameter-tuning-for-gradient-boosting-3363992e9bae">
                    In Depth: Parameter tuning for Gradient Boosting</a></li>
            </ul>
            
        </div>
    </div>
</div>

{% endblock %}